{% extends 'layout.html' %}

{% block body %}

<h3>AgendsApp</h3>
<br>
<p>
    Aplicación web de agenda realizada en Python3, JavaScript, Html5 y Css3 utilizando los framework web Flask y Bootstrap5.
    <br><br> 
    Utilizando una base de datos Mysql para almacenar los dichos datos. Esta aplicacion esta diseñada siguiendo los parametros CRUD (Create, Read, Update, Delete).
    <br><br> 
    Alumnos: Domingo Alexander Mendoza Pacheco. C.I: 27.678.306<br> Francel Noel Liendo Oropeza. C.I: 28.013.257
    <br><br> 
    Profesor: Wilfred Vasquez
    <br><br> 
    Unidad Curricular: PRO633 - Programación III 
</p>

{% endblock %}